
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.container {
  display: flex;
  gap: 20px;
}
.img{
  height: 584px;
}
.img img {
  max-width: 100%;
  height: 100%;
}

/* .img-main {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
} */

.image img {
  margin: 0 !important;
  border: none;
  padding: 0 !important;
}

.main-box {
  display: flex;
  gap: 10px;
}

.box {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
}
.box b{
    font-size: 12px;
    font-weight: 400;
}
.box-text{

    margin-left: 4px;
}

.fa-check{
    color:  var(--primary) !important;
}

.input-group {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.input input{
  border-radius: 30px !important;
}
.input-group label {
  display: block;
}

.add-btn {
  margin-top: 20px;
  padding: 10px 15px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.last p{
    font-size: 15px;
}
@media (max-width: 990px) {
  .img {
    height: auto; /* Ya apni desired height likhein */
  }
}

