



.box{
 
    height: 26rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    border-radius: 50px;
    margin-bottom: 40px;
  }
  .box-img img{
    width: 200px;      
  }
  .box-img{
    display: flex;
    justify-content: center;
  }
 





